.mySwiper {
    width: 96%;
    height: 100%;
 }
.Swiper_slide img{
    width: 304px;
    height: 171px;
}
.title{
    padding: 30px 0 30px 40px;
    font-size: 23px;
    font-weight: 600;
}
.item_number{
    display: flex;
    background: rgb(49, 49, 49);
    justify-items: flex-end;
    position: absolute;
    top: 0
  }
  .number span{
    position:  relative;
    font-size: 240px;
    font-weight: 700;
    top: 0rem;
    font-family: 'Oswald', sans-serif;
    text-shadow:  2px 0 white, -2px 0 white, 0 2px white, 0 -2px white,
                 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
    
  }
  .item {
    position: relative;
    display: block;
    flex:  1 1 0px;
    transition: transform 500ms;
  }
  .item img {
    max-width: 100%;
    width: 180px;
    height: 178px;
    object-fit: cover;
    position: relative;
    top: 2.9rem;
    right: 2.5rem;
  }
  .item-number .item:focus,
  .item-number .item:hover{ 
    transform:  translateX(25%);
    z-index: 1;
  }
  .item-number .item:focus,
  .item-number .item:hover{
    transform:  scale(1.5);
    z-index: 1;
  }