.mySwiper {
    width: 100%;
    height: 100%;
  }
  .swiper_slide img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .item_banner{
    position: relative;
  }
  .item{
    position: absolute;
    top: 20rem;
    left: 4rem;
  }
  .desc{
   margin-bottom: 20px;
    width: 46%;
    font-size: 19px;
  }
  /* .desc span{
    font-size: 60px;
    font-weight: 500;
    font-weight: 400;
    z-index: 1;
  } */
  .btn_handle_play {
    display: flex;
  }
  .btn_play{
    background: var(--light);
    padding: 13px 50px;
    color: var(--primary);
    border-radius: 4px;
    font-weight: 600; 
   
  }
  .btn_info{
    margin-left:10px ;
    width: max-content;
    background: var(--dark);
    padding: 13px 50px;
    color: var(--light);
    border-radius: 4px;
    font-weight: 600; 
    
  }
  .btn_play:hover{
    color:var(--light);
    background: red;
    transition-duration: 0.3s ;
  }
  .btn_info:hover{
    color:var(--light);
    background:var(--primary);
    transition-duration: 0.3s ;
  }